<?xml version="1.0"?>
<launch>

  <!-- send objects locations to parameter server -->
  <rosparam command="load" ns="objects" file="$(find test_environments)/config/object_locations.yaml"/>
  <rosparam command="load" ns="object_groups" file="$(find test_environments)/config/object_groups.yaml"/>


</launch>
